interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/fundamentals/AAPL.US?api_token=demo&filter=General
  response:
    content: '{"Code":"AAPL","Type":"Common Stock","Name":"Apple Inc","Exchange":"NASDAQ","CurrencyCode":"USD","CurrencyName":"US
      Dollar","CurrencySymbol":"$","CountryName":"USA","CountryISO":"US","ISIN":"US0378331005","LEI":"HWUPKR0MPOU8FGXBT394","CUSIP":"037833100","CIK":"320193","EmployerIdNumber":"94-2404110","FiscalYearEnd":"September","IPODate":"1980-12-12","InternationalDomestic":"International\/Domestic","Sector":"Technology","Industry":"Consumer
      Electronics","GicSector":"Information Technology","GicGroup":"Technology Hardware
      & Equipment","GicIndustry":"Technology Hardware, Storage & Peripherals","GicSubIndustry":"Technology
      Hardware, Storage & Peripherals","HomeCategory":"Domestic","IsDelisted":false,"Description":"Apple
      Inc. designs, manufactures, and markets smartphones, personal computers, tablets,
      wearables, and accessories worldwide. It also sells various related services.
      In addition, the company offers iPhone, a line of smartphones; Mac, a line of
      personal computers; iPad, a line of multi-purpose tablets; and wearables, home,
      and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and
      HomePod. Further, it provides AppleCare support and cloud se[...]
