interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/calendar/earnings?api_token=demo&symbols=AAPL.US&fmt=json&params=%7B%7D
  response:
    content: '{"type":"Earnings","description":"Historical and upcoming Earnings","symbols":"AAPL.US","earnings":[{"code":"AAPL.US","report_date":"2023-02-02","date":"2022-12-31","before_after_market":"AfterMarket","currency":"USD","actual":null,"estimate":1.95,"difference":null,"percent":null}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1998'
    status_code: 200
version: 1
