interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/fundamentals/BTC-USD.CC?api_token=demo
  response:
    content: '{"General":{"Name":"Bitcoin","Type":"Crypto","Category":"coin","WebURL":"https:\/\/bitcoin.org\/"},"Statistics":{"MarketCapitalization":441559141576.65,"MarketCapitalizationDiluted":481097797514.69,"CirculatingSupply":19274131,"TotalSupply":19274131,"MaxSupply":21000000,"MarketCapDominance":42.3509,"TechnicalDoc":"https:\/\/bitcoin.org\/bitcoin.pdf","Explorer":"https:\/\/coinmarketcap.com\/community\/search\/top\/bitcoin","SourceCode":null,"MessageBoard":null,"LowAllTime":65.526000976562,"HighAllTime":68789.625938922}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1999'
    status_code: 200
version: 1
