interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/tweets-sentiments?api_token=demo&s=AAPL%2CTSLA&from=2023-01-01&to=2023-01-10
  response:
    content: '{"AAPL.US":[{"date":"2023-01-10","count":1461,"normalized":0.1811},{"date":"2023-01-09","count":1820,"normalized":0.1167},{"date":"2023-01-08","count":1257,"normalized":0.1737},{"date":"2023-01-07","count":880,"normalized":0.1481},{"date":"2023-01-06","count":1498,"normalized":0.1254},{"date":"2023-01-05","count":1547,"normalized":0.1442},{"date":"2023-01-04","count":1701,"normalized":0.1336},{"date":"2023-01-03","count":1730,"normalized":0.1202},{"date":"2023-01-02","count":1482,"normalized":0.1262},{"date":"2023-01-01","count":1142,"normalized":0.1764}],"TSLA.US":[{"date":"2023-01-10","count":6392,"normalized":-0.0472},{"date":"2023-01-09","count":5574,"normalized":0.0387},{"date":"2023-01-08","count":5253,"normalized":0.1028},{"date":"2023-01-07","count":4773,"normalized":0.0905},{"date":"2023-01-06","count":6228,"normalized":0.0243},{"date":"2023-01-05","count":5544,"normalized":0.0971},{"date":"2023-01-04","count":6268,"normalized":0.0904},{"date":"2023-01-03","count":6523,"normalized":0.0588},{"date":"2023-01-02","count":5607,"normalized":0.0559},{"date":"2023-01-01","count":3993,"normalized":0.0962}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1994'
    status_code: 200
version: 1
