interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/eod/UK10Y.GBOND?api_token=demo&period=d&order=a&from=2023-01-01&to=2023-01-10&fmt=json
  response:
    content: '[{"date":"2023-01-02","open":3.676,"high":3.724,"low":3.657,"close":3.671,"adjusted_close":3.671,"volume":0},{"date":"2023-01-03","open":3.622,"high":3.671,"low":3.537,"close":3.654,"adjusted_close":3.654,"volume":0},{"date":"2023-01-04","open":3.571,"high":3.6,"low":3.484,"close":3.494,"adjusted_close":3.494,"volume":0},{"date":"2023-01-05","open":3.516,"high":3.575,"low":3.486,"close":3.554,"adjusted_close":3.554,"volume":0},{"date":"2023-01-06","open":3.538,"high":3.589,"low":3.457,"close":3.475,"adjusted_close":3.475,"volume":0},{"date":"2023-01-09","open":3.49,"high":3.547,"low":3.49,"close":3.528,"adjusted_close":3.528,"volume":0},{"date":"2023-01-10","open":3.561,"high":3.6,"low":3.545,"close":3.562,"adjusted_close":3.562,"volume":0}]'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1991'
    status_code: 200
version: 1
