interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/economic-events?api_token=demo&limit=5&offset=0
  response:
    content: '[{"type":"Baker Hughes Oil Rig Count","comparison":null,"period":"Feb\/24","country":"US","date":"2023-02-24
      18:00:00","actual":null,"previous":null,"estimate":null,"change":null,"change_percentage":null},{"type":"Baker
      Hughes Total Rig Count","comparison":null,"period":"Feb\/24","country":"US","date":"2023-02-24
      18:00:00","actual":null,"previous":null,"estimate":null,"change":null,"change_percentage":null},{"type":"Budget
      Balance","comparison":null,"period":"Dec","country":"CA","date":"2023-02-24
      16:00:00","actual":null,"previous":null,"estimate":null,"change":null,"change_percentage":null},{"type":"Michigan
      Consumer Sentiment","comparison":null,"period":"Feb","country":"US","date":"2023-02-24
      15:00:00","actual":null,"previous":null,"estimate":null,"change":null,"change_percentage":null},{"type":"Michigan
      Current Conditions","comparison":null,"period":"Feb","country":"US","date":"2023-02-24
      15:00:00","actual":null,"previous":null,"estimate":null,"change":null,"change_percentage":null}]'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1993'
    status_code: 200
version: 1
