interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://eodhistoricaldata.com/api/eod/MCD.US?api_token=demo&from=2017-01-05&to=2017-01-06&fmt=json
  response:
    body:
      string: '[{"date":"2017-01-05","open":119.34,"high":120.2,"low":119.1,"close":119.7,"adjusted_close":103.6748,"volume":4261100},{"date":"2017-01-06","open":118.93,"high":121.5,"low":118.52,"close":120.76,"adjusted_close":104.5929,"volume":4089200}]'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1997'
    status:
      code: 200
      message: OK
    url: https://eodhistoricaldata.com/api/eod/MCD.US?api_token=demo&from=2017-01-05&to=2017-01-06&fmt=json
version: 1
