interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/exchanges-list/?api_token=demo
  response:
    content: '[{"Name":"USA Stocks","Code":"US","OperatingMIC":"XNAS, XNYS","Country":"USA","Currency":"USD","CountryISO2":"US","CountryISO3":"USA"},{"Name":"London
      Exchange","Code":"LSE","OperatingMIC":"XLON","Country":"UK","Currency":"GBP","CountryISO2":"GB","CountryISO3":"GBR"},{"Name":"Toronto
      Exchange","Code":"TO","OperatingMIC":"XTSE","Country":"Canada","Currency":"CAD","CountryISO2":"CA","CountryISO3":"CAN"},{"Name":"NEO
      Exchange","Code":"NEO","OperatingMIC":"NEOE","Country":"Canada","Currency":"CAD","CountryISO2":"CA","CountryISO3":"CAN"},{"Name":"TSX
      Venture Exchange","Code":"V","OperatingMIC":"XTSX","[...]
