interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/symbol-change-history?api_token=demo&from=2023-01-01&to=2023-12-31
  response:
    content: '[{"exchange":"US","old_symbol":"MSPR","new_symbol":"LIFW","company_name":"MSP
      Recovery, Inc. Class A Common Stock","effective":"2023-01-03"},{"exchange":"US","old_symbol":"MSPRW","new_symbol":"LIFWW","company_name":"MSP
      Recovery, Inc. Warrant","effective":"2023-01-03"},{"exchange":"US","old_symbol":"MSPRZ","new_symbol":"LIFWZ","company_name":"MSP
      Recovery, Inc. Warrant","effective":"2023-01-03"},{"exchange":"US","old_symbol":"NILE","new_symbol":"AULT","company_name":"Ault
      Alliance, Inc. Common Stock","effective":"2023-01-03"},{"exchange":"US","old_symbol":"DNAY","new_symbol":"TBIO","company_name":"Tele[...]
