interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/screener?api_token=demo&filters=%5B%5B%22market_capitalization%22%2C%22%3E%22%2C1000%5D%2C%5B%22name%22%2C%22match%22%2C%22apple%22%5D%2C%5B%22code%22%2C%22%3D%22%2C%22AAPL%22%5D%5D&sort=market_capitalization.desc&limit=10&offset=0&fmt=csv
  response:
    content: '{"data":[{"code":"AAPL","name":"Apple Inc DRC","last_day_data_date":"2023-01-25","adjusted_close":5170,"refund_1d":21,"refund_1d_p":0.41,"refund_5d":392,"refund_5d_p":8.2,"exchange":"BA","currency_symbol":"ARS","market_capitalization":491141187239936,"earnings_share":187.79,"dividend_yield":0.0029,"sector":"Technology","industry":"Consumer
      Electronics","avgvol_1d":33332,"avgvol_200d":59771.98},{"code":"AAPL","name":"Apple
      Inc CDR","last_day_data_date":"2023-01-25","adjusted_close":21.33,"refund_1d":-0.11,"refund_1d_p":-0.51,"refund_5d":0.97,"refund_5d_p":4.76,"exchange":"NEO","currency_symbol":"C$","market_capitalization":2972932636672,"earnings_share":1,"dividend_yield":0.0064,"sector":"Technology","industry":"Consumer
      Electronics","avgvol_1d":121438,"avgvol_200d":83883.72},{"code":"AAPL","name":"Apple
      Inc","last_day_data_date":"2023-01-26","adjusted_close[...]
