interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/eod-bulk-last-day/NYSE?api_token=demo&symbols=AAPL&fmt=json
  response:
    content: '[{"code":"AAPL","exchange_short_name":"US","date":"2023-01-25","open":140.89,"high":142.43,"low":138.81,"close":141.86,"adjusted_close":141.86,"volume":65652500,"prev_close":142.53,"change":-0.67,"change_p":-0.4701}]'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1990'
    status_code: 200
version: 1
