interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/exchange-symbol-list/OTC?api_token=demo&delisted=1&fmt=json
  response:
    content: '[{"Code":"AISI","Name":"Aris Industries Inc","Country":"USA","Exchange":"OTC","Currency":"USD","Type":"Common
      Stock","Isin":null},{"Code":"AJSB1","Name":"Ajs Bancorp Inc","Country":"USA","Exchange":"OTC","Currency":"USD","Type":"Common
      Stock","Isin":null},{"Code":"AMPY1","Name":"Amplify Energy Corp","Country":"USA","Exchange":"OTC","Currency":"USD","Type":"Common
      Stock","Isin":null},{"Code":"AMZG","Name":"AMERICAN EAGLE ENERGY Corp","Country":"USA","Exchange":"OTC","Currency":"USD","Type":"Common
      Stock","Isin":null},{"Code":"BCFN","Name":"Banner Central Finance Co","Country":"USA","Exchange":"OTC","[...]
