interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/search/Apple?api_token=demo&limit=15&bonds_only=0
  response:
    content: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","previousClose":141.86,"previousCloseDate":"2023-01-25"},{"Code":"AAPL","Exchange":"BA","Name":"Apple
      Inc DRC","Type":"Common Stock","Country":"Argentina","Currency":"ARS","ISIN":"ARDEUT116183","previousClose":5170,"previousCloseDate":"2023-01-25"},{"Code":"0R2V","Exchange":"LSE","Name":"Apple
      Inc.","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":"US0378331005","previousClose":142.34,"previousCloseDate":"2023-01-26"},{"Code":"0R2V","Exchange":"IL","Name":"Apple
      Inc.","Type":"Common Stock","Country":"UK","Cu[...]
