interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/div/MCD.US?api_token=demo&from=2022-01-01&to=2022-12-31&fmt=json
  response:
    content: '[{"date":"2022-02-28","declarationDate":"2022-01-20","recordDate":"2022-03-01","paymentDate":"2022-03-15","period":"Quarterly","value":1.38,"unadjustedValue":1.38,"currency":"USD"},{"date":"2022-06-03","declarationDate":"2022-05-26","recordDate":"2022-06-06","paymentDate":"2022-06-20","period":"Quarterly","value":1.38,"unadjustedValue":1.38,"currency":"USD"},{"date":"2022-08-31","declarationDate":"2022-07-28","recordDate":"2022-09-01","paymentDate":"2022-09-16","period":"Quarterly","value":1.38,"unadjustedValue":1.38,"currency":"USD"},{"date":"2022-11-30","declarationDate":"2022-10-13","recordDate":"2022-12-01","paymentDate":"2022-12-15","period":"Quarterly","value":1.52,"unadjustedValue":1.52,"currency":"USD"}]'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1995'
    status_code: 200
version: 1
