interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/real-time/MCD.US?api_token=demo&fmt=json&s=AAPL.US
  response:
    content: '[{"code":"MCD.US","timestamp":1674680400,"gmtoffset":0,"open":270.37,"high":273.07,"low":268.87,"close":273.01,"volume":3091850,"previousClose":269.56,"change":3.45,"change_p":1.2799},{"code":"AAPL.US","timestamp":1674680400,"gmtoffset":0,"open":140.84,"high":142.43,"low":138.81,"close":141.86,"volume":64646917,"previousClose":142.53,"change":-0.67,"change_p":-0.4701}]'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '1997'
    status_code: 200
version: 1
