interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eodhistoricaldata.com/api/options/AAPL.US?api_token=demo&from=2022-01-01&to=2022-01-07
  response:
    content: '{"code":"AAPL","exchange":"US","lastTradeDate":"2023-01-25","lastTradePrice":141.86,"data":[{"expirationDate":"2022-01-07","impliedVolatility":41.5059,"putVolume":210128,"callVolume":427656,"putCallVolumeRatio":0.4913481863928017,"putOpenInterest":229761,"callOpenInterest":421739,"putCallOpenInterestRatio":0.5447942922044202,"optionsCount":97,"options":{"PUT":[{"contractName":"AAPL220107P00105000","contractSize":"REGULAR","contractPeriod":"WEEKLY","currency":"USD","type":"PUT","inTheMoney":"FALSE","lastTradeDateTime":"2022-01-05
      13:23:46","expirationDate":"2022-01-07","strike":105,"lastPrice":0.01,"bid":0.01,"ask":0.01,"change":0,"changePercent":0,"volume":1,"openInterest":631,"impliedVolatility":318.8748,"delta":-0.0012,"gamma":0.0001,"theta":-0.0565,"vega":0.0004,"rho":0,"theoretical":0.01,"intrinsicValue":0,"timeValue":0,"updatedAt":"2022-01-06
      19:22:39","daysBeforeExpiration":0},{"contractName":"AAPL220107P00110000","contractSize":"REGULAR","contractPeriod":"WEEKLY","currency":"USD","type":"PUT","inTheMoney":"FALSE","lastTradeDateTime":"2021-12-23
      15:25:55","expirationDate":"2022-01-07","strike":110,"lastPrice":0.01,"bid":0.01,"ask":0.01,"change":0,"changePercent":0,"volume":91,"openInterest":318,"impliedVolatility":0,"delta":0,"gamma":0,"theta":0,"vega":0,"rho":0,"theoretical":0,"intrinsicValue":0,"timeValue":0,"updatedAt":"2022-01-06
      19:22:39","daysBefo[...]
